# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
venv

# Logs
logs/
*.log

# IDE specific files
.vscode/
.idea/

# Dependency directories
venv/
env/

# Local configuration files
instance/

# Compiled files
*.pyc
*.pyo

# Miscellaneous files
.DS_Store
Thumbs.db
